# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea/
.<y_bin_411>tool_code
# Flutter/Dart packages
.dart_tool/
.packages
build/

# Flutter/Dart IDE specific files
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Android files
android/app/src/main/assets/flutter_assets/kernel_blob.bin # If you build for Android
android/app/src/main/assets/flutter_assets/isolate_snapshot_data # If you build for Android
android/app/src/main/assets/flutter_assets/vm_snapshot_data # If you build for Android
android/key.properties
android/.gradle/
android/local.properties
android/app/build/
android/app/release/
android/app/profile/
android/app/debug/
android/app/intermediates/
android/app/outputs/
android/app/generated/
*.apk
*.aab

# iOS files
ios/Flutter/App.framework
ios/Flutter/engine.cC
ios/Flutter/flutter_assets/kernel_blob.bin
ios/Flutter/flutter_assets/isolate_snapshot_data
ios/Flutter/flutter_assets/vm_snapshot_data
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcworkspace/xcuserdata/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/DerivedData/
# If you use different Xcode schemes, add them:
# ios/Flutter/Debug.xcconfig
# ios/Flutter/Release.xcconfig
*.mobileprovision

# macOS files
macos/Flutter/ephemeral/
macos/.symlinks/

# Windows files
windows/flutter/ephemeral/
windows/.symlinks/

# Linux files
linux/flutter/ephemeral/
linux/.symlinks/

# Web files
web/build/

# VS Code
.vscode/

# Codemagic
secrets.json # If you ever store secrets locally for Codemagic testing (don't commit real secrets!)